<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
</script>
<% end -%>
  
<% content_for :left_column do %>
  <ul>
	<li>
      <%= link_to("My Measures", measures_path) %>
	</li>
	<li>
      <%= link_to("All Measures", measures_path) %>
	</li>
  </ul>
<% end -%>
