/* Bonnie rounded button style overrides */

#pageContent .btn {
  color:#19b;
  @include border-radius(15px);
  padding: 3px 16px 2px;
  line-height:15px;
  margin-left:10px;
  &.btn-primary {color:white;}
  }
  
