.measure-title {
  display:table;
  position:relative;
  top:10px;
  left:15px;
  z-index:10;
  border:1px solid $borderColor;
  @include border-radius(10px);
  padding: 4px 10px;
  font-style:italic;
  font-size: 1.65em;
  background-color:white;
  margin: 0 10px 20px 0;
  color:$measureTitleText;
  @include box-shadow(0 2px 10px 1px rgba(0,0,0,0.15));
}

#measureDetailInformation {
  margin:0;
  position:absolute;
  background-color:#f5f5f5;
  left:0;
  top:0px;

  min-height:100%;
  width:300px;
  padding:140px 0 0 0;
  #measureDetailBorder {
    height:100%;
    background-color:#bbb;
    width:15px;
    cursor:pointer;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
  }
 }

#patient_data_criteria {
  .paramItem {
    min-width: 410px;
  }
}


#measureEditContainer, #patient_data_criteria {
  border-top: 1px solid $measureBorderColor;
  clear: left;
  position: relative;
  padding-left: $main_padding-left;
  span {
    margin: 5px 0 5px 6px;
    padding: 2px 12px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  span.and {
    display: inline-block;
    background-color: $eligibilityParamGroupAND;
  }
  span.or {
    display: inline-block;
    background-color: #dddddd;
  }
  span.not {
    display: inline-block;
    background-color: #F55;
    color:white;
  }
  span.subset-operator {
    background-color: #f5f5f5;
    padding: 4px 15px;
    border-radius: 10px 10px 0 0;
    border: 2px solid #dcdcdc;
    border-bottom:0;
    margin-top:5px;
    display:table;
    margin-bottom:0;
    margin-left:10px;
  }
  span.temporal-operator {
    display:block;
    text-align:left;
    border-left:2px solid #ccc;
    border-right:2px solid #ccc;
    border-bottom:2px solid #ccc;
    @include border-radius(0);
    font-style:italic;
    margin:5px 0 0 10px;
  }
  span.block-down-arrow {
    display:block;
    width:0;
    border-right:20px;
    border-left:20px;
    border-color:transparent;
    height:0;
    width:0;
    @include border-radius(0);
    border-style:solid;
    border-top:10px solid #ccc;
    padding:0;
    margin:0 0 0 25px;
  }

  .subset-operator+.paramGroup {margin-top:0;border-top-left-radius:0}
  .paramGroup {
    margin: 10px 0 10px 10px;
    @include border-radius($radius);
    padding: 2px;
    display: table;
    &.paramItem {
      @include transition(background-color .2s linear);
    }
    &.dragged {@include box-shadow(0 0 15px #06f);}
  }
  .paramGroupToggle {
    margin: 0 0 0 20px;
  }
  .paramItem {
    background-color: white;
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    padding: 1px 4px 0;
    display: table;
    margin-left: 10px;
    color: black;
    text-transform: lowercase;
    @include transition(background-color .2s linear);

    &.droppable {
      background-color:#fec;
      @include transition(background-color .2s linear);
    }
    &.droppable2 {
      background-color:#cfe;
      @include transition(background-color .2s linear);
    }
    &.droppable3 {
      background-color:#ecf;
      @include transition(background-color .2s linear);
    }
    &.highlight {
      background-color:#FFFFE5;
      @include transition(background-color .2s linear);
    }
    &.editing {
      background-color:#ddf0ff;
      @include transition(background-color .2s linear);
    }
    .paramText {
      padding:2px 0 0 45px;
      cursor:pointer;
    }
    label {
      color: black;
      font-weight: bold;
      padding-right: 4px;
      cursor:pointer;

      .occurrence {
        text-transform: capitalize;
        border-radius: 0;
        margin: 0;
        padding: 0;
      }
    }
    span.conjunction:first-of-type {
      display: none;
    }
  }
}

#measureEditContainer > .tab-pane {
  width:500px;
  h3 {
    font-size: 1.5em;
    padding: 5px 20px;
    display: inline-block;
    margin: 10px 0 0 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: $outcomeHdr;
    em {
      font-style: italic; }
  }
  .display_name {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 2px 15px;

    &:after {
      content: '';
      float: right;
      width: 12px;
      height: 12px;
      margin: 3px 0 0 0;
      background-image: url(/assets/vertical_expand_collapse.png);
      background-repeat: no-repeat;
    }

    &.collapsed:after {
      background-position: 0 -12px;
    }
  }
}

#eligibilityMeasures {
  span.subset-operator {
    background-color: #d1ecef;
    border-color:#a4d9dd;
  }
  .paramGroup, .display_name {
    background-color: $eligibilityParamGroup;
    .paramGroup, .display_name {
      margin-left: 10px;
      background-color: darken($eligibilityParamGroup,8);
      width: auto;
      .paramGroup, .display_name {
        margin-left: 10px;
        background-color: darken($eligibilityParamGroup,20);
        .paramGroup, .display_name {
          background-color: darken($eligibilityParamGroup,35);
        }
      }
    }
  }
  span.temporal-operator {
    border-color:$eligibilityParamGroup;
  }
  span.block-down-arrow {
    border-top-color:$eligibilityParamGroup;
  }
  .paramItem.ui-draggable-dragging {border:2px solid $eligibilityParamGroup}

  .paramItem .paramText {

      &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:transparent url(/assets/treatment_blue_dark.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:transparent url(/assets/condition_blue_dark.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:transparent url(/assets/encounter_blue_dark.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:transparent url(/assets/observation_blue_dark.png) 0 2px no-repeat;
      }
      &.medication {
        background:transparent url(/assets/medication_blue_dark.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:transparent url(/assets/demographic_blue_dark.png) 0 2px no-repeat;
      }


    }
}

#outcomeMeasures {
  width:500px;
  h3 {
    font-size: 1.5em;
    padding: 5px 20px;
    display: inline-block;
    margin: 10px 0 0 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: $outcomeHdr;
    em {
      font-style: italic; }
  }
  span.subset-operator {
    background-color: #e6f2d1;
    border-color:#9cc45e;
  }
  .paramGroup, .display_name {
    background-color: $outcomeParamGroup;
    .and {
      background-color: $outcomeParamGroup; }
    .paramGroup, .display_name {
      background-color: #9db26d;
      width: auto;
      .paramGroup, .display_name {
        background-color: #6c8631;
      }
    }
  }
  span.temporal-operator {
    border-color:$outcomeParamGroup;
  }
  span.block-down-arrow {
    border-top-color:$outcomeParamGroup;
  }
  .paramItem.ui-draggable-dragging {border:2px solid $outcomeParamGroup}

  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
      background:transparent url(/assets/treatment_green_dark.png) 0 2px no-repeat;
    }
    &.diagnosis, &.symptom  {
      background:transparent url(/assets/condition_green_dark.png) 0 2px no-repeat;
    }
    &.encounter, &.physical {
      background:transparent url(/assets/encounter_green_dark.png) 0 2px no-repeat;
    }
    &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
      background:transparent url(/assets/observation_green_dark.png) 0 2px no-repeat;
    }
    &.medication {
      background:transparent url(/assets/medication_green_dark.png) 0 2px no-repeat;
    }
    &.patient, &.risk {
      background:transparent url(/assets/demographic_green_dark.png) 0 2px no-repeat;
    }
  }
}

#initialPopulation, #patient_data_criteria {
  .paramGroup, .display_name {
    background-color: $initialPopulationParamGroup;
    .paramGroup, .display_name {
      margin-left: 10px;
      background-color: darken($initialPopulationParamGroup,7);
      width: auto;
      .paramGroup, .display_name {
        margin-left: 10px;
        background-color: darken($initialPopulationParamGroup,15);
        .paramGroup, .display_name {
          background-color: darken($initialPopulationParamGroup,25);
        }
      }
    }
    .and {
      background-color: #dddddd;
    }
  }
  .paramItem.ui-draggable-dragging {border:2px solid $initialPopulationParamGroup}
  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:transparent url(/assets/treatment_gray.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:transparent url(/assets/condition_gray.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:transparent url(/assets/encounter_gray.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:transparent url(/assets/observation_gray.png) 0 2px no-repeat;
      }
      &.medication {
        background:transparent url(/assets/medication_gray.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:transparent url(/assets/demographic_gray.png) 0 2px no-repeat;
      }
    }
}

#exclusionMeasures {
  .paramGroup, .display_name {
    background-color: $exclusionsGroup;
    .paramGroup, .display_name {
      background-color: darken($exclusionsGroup,5);
      .paramGroup, .display_name {
        background-color: darken($exclusionsGroup,10);
        .paramGroup, .display_name {
          background-color: darken($exclusionsGroup,15);
        }
      }
    }
    .and {
      background-color: $exclusionsGroup;
    }
  }
  span.subset-operator {
    border-color:darken($exclusionsGroup,15);
    background-color:lighten($exclusionsGroup,5);
  }
  span.temporal-operator {
    border-color: darken($exclusionsGroup,15);
  }
  span.block-down-arrow {
    border-top-color:darken($exclusionsGroup,15);
  }
  .paramItem.ui-draggable-dragging {outline:2px solid $exclusionsGroup}
  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:transparent url(/assets/treatment_gray.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:transparent url(/assets/condition_gray.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:transparent url(/assets/encounter_gray.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:transparent url(/assets/observation_gray.png) 0 2px no-repeat;
      }
      &.medication {
        background:transparent url(/assets/medication_gray.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:transparent url(/assets/demographic_gray.png) 0 2px no-repeat;
      }
    }
}


label.ui-draggable-dragging {display:block;width:212px;}
div.start-drag {color:red !important;background-color:red !important;opacity:0.5}

#exceptionMeasures {
  .paramGroup, .display_name {
    background-color: #dcdcdc;
    .paramGroup, .display_name {
      background-color: #dcdcdc;
      .paramGroup, .display_name {
        background-color: #dcdcdc;
      }
    }
    .and {
      background-color: #dddddd;
    }
  }
  .paramItem.ui-draggable-dragging {border:2px solid #dcdcdc}
  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:transparent url(/assets/treatment_gray.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:transparent url(/assets/condition_gray.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:transparent url(/assets/encounter_gray.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:transparent url(/assets/observation_gray.png) 0 2px no-repeat;
      }
      &.medication {
        background:transparent url(/assets/medication_gray.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:transparent url(/assets/demographic_gray.png) 0 2px no-repeat;
      }
    }
}

/* udpate: needs review by MN */
#dataCriteria {

  padding:10px 0 10px 10px;
  margin:10px 0 10px 0;
  width:250px;


  .paramGroup {
    @include border-radius(10px);
    background-color:#fff;
    border:1px solid #999;
    margin-bottom: 1em;
    vertical-align:middle;
    padding: 0;
   .paramItem {
      position:relative;
      cursor:pointer;

     .paramText {
       padding:5px 15px 5px 42px;
       margin:5px 0;
       text-transform:uppercase;
       height:100%;
       bottom:0;
       vertical-align:middle;
       label {
         color:#444;
         font-weight:bold;
         margin-top:0.5em;
         cursor:pointer;
         position:relative;
         i {position:relative;top:-2px;opacity:0.5;margin-right:2px}
        }
      &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.procedures, &.provider, &.providers {
          background:transparent url(/assets/treatment_gray.png) 0 50% no-repeat;
        }
        &.diagnosis, &.symptom, &.symptoms, &.condition, &.conditions  {
          background:transparent url(/assets/condition_gray.png) 0 50% no-repeat;
        }
        &.encounter, &.encounters, &.physical, &.physicals, &.physical_exams {
          background:transparent url(/assets/encounter_gray.png) 0 50% no-repeat;
        }
        &.laboratory, &.laboratory_tests, &.diagnostic, &.diagnostic_study ,&.substance {
          background:transparent url(/assets/observation_gray.png) 0 50% no-repeat;
        }
        &.medication, &.medications {
          background:transparent url(/assets/medication_gray.png) 0 50% no-repeat;
        }
        &.patient, &.patients, &.risk, &.risks, &.characteristic {
          background:transparent url(/assets/demographic_gray.png) 0 50% no-repeat;
        }

    }
  }
  }
  .paramChildren {
    display: none;
    padding: 5px 0 10px 10px;
    &.data-criteria {background-color:#f5f5f5;}
   .paramItem {
       padding-bottom:0;
      margin-bottom:10px;
      .paramText {
        padding-bottom:0;
        min-height: 10px;

       label {
          @include border-radius(5px);
          display:block;
          background:white url(asset-path('draggable.png', image)) 4px 6px no-repeat;
          padding:5px 4px 4px 22px;
          border:1px solid #ccc;
          cursor:pointer;
        }
      }
      &.used {
        label {
          color: #CCC;
        }
      }
    }

  }

}

/* there is probably a better way to accomplish this */
.arrow-w {
  margin:5px 0 10px;
  padding:1px 2px;
  border-style: dashed;
  border-color: transparent;
  border-width: 36px;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 30px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  border-right-width: 36px;
  border-right-style: solid;
  border-right-color: #aaa;
}


#measureEditContainer .temporal_drop_zone {
  display: block;
  background-color: #BBB;
  min-height: 25px;
  border: 3px dashed grey;
  width: 214px;
  position: relative;
  padding: 1px;
  margin: 0;
  margin-bottom: 9px;

  &.fullDrop {
    background-color: white;
  }

  &:not(.fullDrop) .temporal_drop_label {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
  }

  .temporal_drop_label {
    word-wrap: break-word;
    margin-right: 20px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 5px;
  }
}


/* done udpate: needs review by MN */


.measureDetailTable {
  padding-top: $top_heading-padding;
  margin-left:300px;
  .measureDetailTable table td, #dashboardContainer .measureDetailTable table td {
    vertical-align: top;
    padding: 0;
  }

  h1 {
    font-size: 1.5em;
    padding-left: $measureDetailTable-padding;
  }

  dl {
    margin-bottom: 10px;
    padding-left: $measureDetailTable-padding;
  }
  dd {
    display: table-cell;
    h1 {
      padding-left: 0; }
  }
}

.CodeRay {
  width: 100%;
  padding-top: 2em;
}

.CodeRay .line-numbers {
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-right: 10px;
}

#workspace {
  h4 {margin-bottom:5px}
  td {
    vertical-align: top;
  }
  .temporal_reference {
    padding-bottom: 15px;
    border-top: 1px solid #BBB;
    & > .close {
      margin-bottom: 5px;
    }
  }
  .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
      background:white url(/assets/treatment_gray.png) 0 2px no-repeat;
    }
    &.diagnosis, &.symptom  {
      background:white url(/assets/condition_gray.png) 0 2px no-repeat;
    }
    &.encounter, &.physical {
      background:white url(/assets/encounter_gray.png) 0 2px no-repeat;
    }
    &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
      background:white url(/assets/observation_gray.png) 0 2px no-repeat;
    }
    &.medication {
      background:white url(/assets/medication_gray.png) 0 2px no-repeat;
    }
    &.patient, &.risk {
      background:white url(/assets/demographic_gray.png) 0 2px no-repeat;
    }
  }

  .subset_operator, .criteria_value {
    label, input {
      display: inline;
    }
  }
}

.widget {
  //border-left:1px dotted red;
}
#patients .row {
  margin: 0em;
  padding: 0em;
  border-bottom: 1px #DDD solid;

  span {
    margin-left: 15px;
  }

  > [class*=span]:last-child {
      border-left: 1px #DDD solid;
      margin-left: 0;
  }

  .span2 {
    border-left: 1px #DDD solid;
    text-align: center;
    margin: 0em;
    width: 10%;
    padding: 0em;
  }

  .name {
    border-left: 1px #FFF solid;
    text-align: left;
    width: 20%;
  }
}

#patients #population-total {
  background: #EEE;
}

#patients #denominator-total {
  background: #99CCFF;
}

#patients #numerator-total {
  background: #CCFFCC;
}

#patients #exclusions-total {
  background: #FFCC99;
}

#patients #exceptions-total {
  background: #EEE;
}

#test-submit-button {
  position:absolute;
  top: 6em;
  right: 40px;
  background: white;
  color: black;
}

h3.measure-title .label {
  font-size: 14px;
  background: white;
  color: orange;
}
h3.measure-title .title {
  font-size: 14px;
}
