.measure-title {
  display:table;
  position:relative;
  top:10px;
  left:15px;
  z-index:10;
  border:1px solid $borderColor;
  @include border-radius(10px);
  padding: 4px 10px;
  font-style:italic;
  font-size: 1.65em;
  background-color:white;
  margin: 0 10px 20px 0;
  color:$measureTitleText;
  @include box-shadow(0 2px 10px 1px rgba(0,0,0,0.15));
}

#measureDetailInformation {
  margin:0;
  position:absolute;
  background-color:#f5f5f5;
  left:0;
  top:0px;
  overflow:hidden;
  min-height:100%;
  width:300px;
  padding:140px 0 0 0;
  #measureDetailBorder {
    height:100%;
    background-color:#bbb;
    width:15px;
    cursor:pointer;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
  }
 }

#measureEditContainer {
  border-top: 1px solid $measureBorderColor;
  clear: left;
  position: relative;
  padding-left: $main_padding-left;
  span {
    margin: 5px 0 10px 6px;
    padding: 1px 3px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  span.and {
    display: block;
    width: 3em;
    background-color: $eligibilityParamGroup;
  }
  span.or {
    display: block;
    width: 2em;
    background-color: #dddddd;
  }
  span.not {
    display: block;
    background-color: #F00;
    width: 3.3em;
  }
  .paramGroup {
    margin: 10px 0 10px 0px;
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    padding: 2px;
    display: table;
  }
  .paramGroupToggle {
    margin: 0 0 0 20px;
  }
  .paramItem {
    background-color: white;
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    padding: 1px 4px 0;
    display: table;
    margin-left: 10px;
    color: black;
    text-transform: lowercase;
    .paramText {
      padding:2px 0 0 45px;




    }
    .paramBar {
      margin-left: 5px;
      background-color: $barValueBkg;
      width: 100px;
      display: inline-block;
    }
    .paramBarVal {
      background-color: $barValueColor;
      color: $barValueText;
      height: 100%;
      padding-left: 0px;
      font-size: 0.95em;
      position: relative;
      span {
        margin-left: 5px;
      }
      span.short {
        position: relative;
        right: -100%;
        color: black;
      }
    }
    label {
      color: black;
      font-weight: bold;
      padding-right: 4px;
    }
  }
}

#measureEditContainer > tab-pane {
  width:500px;
  h3 {
    font-size: 1.5em;
    padding: 5px 20px;
    display: inline-block;
    margin: 10px 0 0 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: $outcomeHdr;
    em {
      font-style: italic; }
  }
}

#eligibilityMeasures {
  .paramGroup {
    background-color: $eligibilityParamGroup;
    .paramGroup {
      margin-left: 10px;
      background-color: #51b2bc;
      width: auto;
      .paramGroup {
        margin-left: 10px;
        background-color: #37696e;
      }
    }
  }
  .paramItem .paramText {

      &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:white url(/assets/treatment_blue_dark.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:white url(/assets/condition_blue_dark.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:white url(/assets/encounter_blue_dark.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:white url(/assets/observation_blue_dark.png) 0 2px no-repeat;
      }
      &.medication {
        background:white url(/assets/medication_blue_dark.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:white url(/assets/demographic_blue_dark.png) 0 2px no-repeat;
      }


    }
}

#outcomeMeasures {
  .paramGroup {
    background-color: $outcomeParamGroup;
    .and {
      background-color: $outcomeParamGroup; }
    .paramGroup {
      background-color: #9db26d;
      width: auto;
      .paramGroup {
        background-color: #6c8631;
      }
    }
  }
  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
      background:white url(/assets/treatment_green_dark.png) 0 2px no-repeat;
    }
    &.diagnosis, &.symptom  {
      background:white url(/assets/condition_green_dark.png) 0 2px no-repeat;
    }
    &.encounter, &.physical {
      background:white url(/assets/encounter_green_dark.png) 0 2px no-repeat;
    }
    &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
      background:white url(/assets/observation_green_dark.png) 0 2px no-repeat;
    }
    &.medication {
      background:white url(/assets/medication_green_dark.png) 0 2px no-repeat;
    }
    &.patient, &.risk {
      background:white url(/assets/demographic_green_dark.png) 0 2px no-repeat;
    }
  }
}

#initialPopulation {
  .paramGroup {
    background-color: #dcdcdc;
    .paramGroup {
      background-color: #dcdcdc;
      .paramGroup {
        background-color: #dcdcdc;
      }
    }
    .and {
      background-color: #dddddd;
    }
  }
  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:white url(/assets/treatment_gray.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:white url(/assets/condition_gray.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:white url(/assets/encounter_gray.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:white url(/assets/observation_gray.png) 0 2px no-repeat;
      }
      &.medication {
        background:white url(/assets/medication_gray.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:white url(/assets/demographic_gray.png) 0 2px no-repeat;
      }
    }
}

#exclusionMeasures {
  .paramGroup {
    background-color: $exclusions;
    .paramGroup {
      background-color: $exclusions;
      .paramGroup {
        background-color: $exclusions;
      }
    }
    .and {
      background-color: $exclusions;
    }
  }
  .paramItem .paramText {
    &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
        background:white url(/assets/treatment_green_dark.png) 0 2px no-repeat;
      }
      &.diagnosis, &.symptom  {
        background:white url(/assets/condition_green_dark.png) 0 2px no-repeat;
      }
      &.encounter, &.physical {
        background:white url(/assets/encounter_green_dark.png) 0 2px no-repeat;
      }
      &.laboratory, &.diagnostic, &.diagnostic_study, &.substance {
        background:white url(/assets/observation_green_dark.png) 0 2px no-repeat;
      }
      &.medication {
        background:white url(/assets/medication_green_dark.png) 0 2px no-repeat;
      }
      &.patient, &.risk {
        background:white url(/assets/demographic_green_dark.png) 0 2px no-repeat;
      }
    }
}

/* udpate: needs review by MN */
#dataCriteria {

  padding:10px 0 10px 10px;
  margin:10px 0 10px 0;
  width:250px;


  .paramGroup {
    @include border-radius(10px);
    background-color:#fff;
    border:1px solid #999;
    margin-bottom: 1em;
    vertical-align:middle;
    padding: 0;
   .paramItem {
      position:relative;
      cursor:pointer;
     .paramText {
       padding:5px 15px 5px 45px;
        margin:5px 0;
       text-transform:uppercase;
       height:100%;
       bottom:0;
       vertical-align:middle;
       label {
          color:#444;
         font-weight:bold;
          margin-top:0.5em;
        }
      &.care, &.communication, &.device, &.diagnostic, &.intervention, &.procedure, &.provider {
          background:transparent url(/assets/treatment_gray.png) 0 50% no-repeat;
        }
        &.diagnosis, &.symptom  {
          background:transparent url(/assets/condition_gray.png) 0 50% no-repeat;
        }
        &.encounter, &.physical {
          background:transparent url(/assets/encounter_gray.png) 0 50% no-repeat;
        }
        &.laboratory, &.diagnostic, &.diagnostic_study ,&.substance {
          background:transparent url(/assets/observation_gray.png) 0 50% no-repeat;
        }
        &.medication {
          background:transparent url(/assets/medication_gray.png) 0 50% no-repeat;
        }
        &.patient, &.risk {
          background:transparent url(/assets/demographic_gray.png) 0 50% no-repeat;
        }

    }
  }
  }
  .paramChildren {
    display: none;
    padding: 5px 0 10px 10px;

   .paramItem {
       padding-bottom:0;
      margin-bottom:10px;
      .paramText {
        padding-bottom:0;
        min-height: 10px;

       label {
          @include border-radius(5px);
          background-color:white;
          padding:5px 4px 4px 6px;
          border:1px solid #ccc;
          cursor:pointer;

        }
      }
      &.used {
        label {
          color: #CCC;
        }
      }
    }

  }

}

/* there is probably a better way to accomplish this */
.arrow-w {
  border-style: dashed;
  border-color: transparent;
  border-width: 1.2em;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 30px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #aaa;
  right: 0.25em;
}
/* done udpate: needs review by MN */


.measureDetailTable {
  padding-top: $top_heading-padding;
  margin-left:300px;
  .measureDetailTable table td, #dashboardContainer .measureDetailTable table td {
    vertical-align: top;
    padding: 0;
  }

  h1 {
    font-size: 1.5em;
    padding-left: $measureDetailTable-padding;
  }

  dl {
    margin-bottom: 10px;
    padding-left: $measureDetailTable-padding;
  }
  dd {
    display: table-cell;
    h1 {
      padding-left: 0; }
  }
}

.CodeRay {
  width: 100%;
  padding-top: 2em;
}

.CodeRay .line-numbers {
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-right: 10px;
}
