/* Bonnie Tabs */


.nav-tabs > li > a {
  padding-bottom:7px;
  padding-right:15px;
  padding-left:15px;
  @include border-radius(22px 22px 0 0);
  color:$gray;
  font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial;
  font-weight:300;
  line-height:10px;
  font-size:15px;
  border:1px solid $borderColor;
  border-bottom:none;
  outline:none;
}

.nav-tabs > .active > a {
  background-color:$numerator;
}

#tabs {
  padding-top:15px;
  .nav {margin-bottom:0;}
  .nav-tabs {
    border-color:$numerator;
    position: relative;
  }
  .nav-tabs > li {
    margin-left:12px;
    &.active a {
      border:1px solid $numerator;
      background-color:$numerator;
      color:black;
    }
    &.active.numerator a {
      border:1px solid $numerator;
      background-color:$numerator;
      color:black;
    }
    &.active.denominator a {
      border:1px solid $denominator;
      background-color:$denominator;
      color:black;
    }
    &.active.initial-population a {
      border:1px solid $borderColor;
      background-color:$borderColor;
      color:black;
    }
    &.active.exclusions a {
      border:1px solid $exclusions;
      background-color:$exclusions;
      color:black;
    }
    &.active.exceptions a {
      border:1px solid $borderColor;
      background-color:$borderColor;
      color:black;
    }
    &#pr_controls {
      position: absolute;
      right: 10px;
      height: 25px;
      top: 0;

      select {
        height: 100%;
        width: 181px;
      }
    }
  }
}
