


$accountBkgColor: #fafafa;
$inputBkgColor: #fafafa;
$borderColor: #ccc;
$errorMsgColor: #f50000;
$graytext: #999999;
$orange: #EDA039;
$grayborder: #999999;
$grey1: #f8f8f8;
$grey2: #f0f0f0;
$blue:  #e7e7ff;
$green: #f0fff0;

$largefont: 24px;
$mediumfont: 18px;
$regularfont: 14px;

$radius: 7px;

$tab-radius: 7px 7px 0 0;



$measure_heading: 1.2em;

$top_heading-padding: 15px;
$main_padding-left: 15px;
$main_padding-right: 15px;
$bottom_heading-padding: 15px;


$measurePopulationChartBar: #dddddd;
$measurePopulationChartValue: black;
$headerBkg: #eeeeee;
$measurementPeriodText: #646464;
$measureList: black;
$eligibleHdr: #54b4bd;
$outcomeHdr: #9dc84b;
$measureBorderColor: #e9e9e9;
$providerReports: #f2f2f2;
$parameterList: #353535;
$parameterListTitle: #eeeeee;
$paramList: #f2f2f2;
$paramListText: #333333;
$barValueColor: #333333;
$barValueText: #eeeeee;
$barValueBkg: #dddddd;
$dashboardLabel: #888888;
$dashboardText: #44b3be;
$tableText: #646464;

$denominator: #40b3bc;
$numerator: #9cc45e;
$numeratorActive : darken($numerator, 10%);
$measureTitleText: darken($numerator, 10%);

$patients: #dddddd;
$exclusions: #eda039;
$exclusionsGroup: lighten($exclusions,30);
$link_separator_color: #999999;
$linkcolor: #44B3BE;
$linkhover: #368f98;
$buttoncolor: #44B3BE;

$measureDetailTable-padding: 15px;

$active-tab_background: #fff;
$active-tab_font: black;
$active-tab_padding: 6px;
$active-tab_border: 3px solid $borderColor;
  

$eligibilityParamGroup: #a4d9dd;
$eligibilityParamGroupAND: #d1ecef;
$outcomeParamGroup: #cfe1a5;
$initialPopulationParamGroup : #dcdcdc;




@mixin popPercentage($diameter, $font_size, $line_height, $border_radius, $margin) {
  display: inline-block;
  width: $diameter;
  height: $diameter;
  font-size: $font_size;
  text-align: center;
  vertical-align: middle;
  background-color: $numerator;
  color: white;
  -moz-border-radius: $border_radius;
  -webkit-border-radius: $border_radius;
  border-radius: $border_radius;
  line-height: $line_height;
  margin-right: $margin;
}