aside {
  font-size: small;
  position: absolute;
  right: 100px;
  width: 180px;
}
svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
