<div id="providerReports">
  <h2>Create New Measure</h2>
  <p>
    <em class="label">upload HQMF</em><br>
    <input type="button" value="choose" class="light_blue_button"/>
  </p>
  <p>
    <em class="label">upload data value set</em><br>
  </p>
  <input type="button" value="choose" class="light_blue_button"/>
  <br>
  <input type="button" value="create" class="light_blue_button_lg alignright"/>
</div><!-- end #providerReports --> 
