<ul>
	<li>
    <%= link_to("My Measures", measures_path) %>
	</li>
	<li>
    <%= link_to("Published Measures", published_measures_path) %>
	</li>
	<li>
	</li>
	<li>
    <%= link_to("Value Sets", value_sets_path) %>
	</li>
</ul>
