<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      init_js_load();
      initialize_measure();
    });
  </script>
  <script src="<%= "#{debug_libraries_measures_path}.js" %>" type="text/javascript"></script>
  <script src="<%= "#{debug_measure_path}/#{@patient.id}.js" %>" type="text/javascript"></script>
<% end %>



<% content_for :page_content do %>

  <div style="margin:1em;">
    <h1>Measure Debug</h1>
    <em><%= @measure.title %></em><br>
    <a href="#" id="run_ipp_link">Run IPP</a> | 
    <a href="#" id="run_denominator_link">Run Denominator</a> | 
    <a href="#" id="run_numerator_link">Run Numerator</a> | 
    <a href="#" id="run_exclusions_link">Run Exclusions</a> | 
    <a href="#" id="run_exceptions_link">Run Exceptions</a> | 
    <a href="#" id="run_test_dc_link">Test Data Criteria</a> | 
    <a href="#" id="toggle_code_link">Toggle Code</a>
    
  
    <% html = CodeRay.scan(@js, :javascript).div(:wrap => :div, :line_numbers => :inline) %> 
    <%= raw(html) %>
    <textarea id='log' style="width:95%; height:85em;">
    </textarea>
  </div>
  
  
<% end %>
