<% content_for :page_content do %>

<div class="pull-left" style="margin-left:2em;">
  <h1>Measure Debug</h1>
  <em><%= @measure.title %></em><br>
  <%= Time.new.inspect %>
</div>

<div class="pull-right" style="margin-right:2em;">

  <!-- TODO: break out into a content_for block? or .js? -->
  <script type="text/javascript">
    <%= raw(include_js_debug(@measure.measure_id)) %>
    
    // onload
    $(document).ready(function() {
      execute_measure(patient);
      emitted[0].logger.forEach(function(e){
        $('#log').append(e);
        $('#log').append('\n');
      });

      // execute_measure(patient)
      // append emitted to 
    });
  
  </script>
  
  <textarea id='log' style="width:45em; height:20em">
  </textarea>
</div>
<% end %>