<% content_for :right_column do %>

<table>
  <tr>
	<td>NQF ID</td>
	<td><%= @measure.nqf_id%></td>
  </tr>
  <tr>
	<td>Title</td>
	<td><%= @measure.title%></td>
  </tr>
  <tr>
	<td>Description</td>
	<td><%= @measure.description%></td>
  </tr>
</table>
	
	<table>
	
	  <tr>
		<td>HQMF</td>
		<td><input type="text" size="30"></td>
		<td><input type="button" value="import"></td>
	  </tr>
	  <tr>
		<td>Value Sets</td>
		<td><input type="text" size="30"></td>
		<td><input type="button" value="import"></td>
	  </tr>
		
	</table>
	<%= button_to "Continue", edit_measure_path(@measure.id), :method => "get" %>
	
<% end -%>
