
<% content_for :right_column do %>
  <div class="pull-right" id="pageButtons">
    <%= button_to 'Create New', new_measure_path, method: "get", class:"btn"%>
    <%= button_to 'Export All', export_all_measures_path, method: "get", class:"btn" %>
  </div>
  <!-- start tab nav -->
  <div id="tabs">
  	<ul class="nav nav-tabs">
  		<li><a href="#tabs-0" class="active">my measures</a></li>
  		<li><a href="#tabs-1">all published measures</a></li>
  	</ul>
	
    <!-- start my measures content -->
  	<div id="tabs-0">
  	  <table class="measureDetailTable">
        <th>NQF</th>
        <th>title</th>
        <th>version</th>
        <th>status</th>
        <th>date</th>
        <th>actions</th>

    	  <%= render :partial => 'measure', :collection => current_user.measures %>
    	</table>
  	</div><!-- end my measures content -->
	
  	<!-- start published measures content -->
  	<div id="tabs-1">
  	  <table class="measureDetailTable">
        <th>NQF</th>
        <th>title</th>
        <th>version</th>
        <th>status</th>
        <th>date</th>
        <th>actions</th>

  	  <%= render :partial => 'measure', :collection => @measures.published %>
    	</table>
  	</div><!-- end published measures content -->
	
  </div><!-- end tab nav -->


	<br />

<% end -%>
  
