<% content_for :page_content do %>

<%= render :partial => 'shared/left_navigation' %>

	<h1>Published measures</h1>

	<table>
	  <tr>
	    <th>Title</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @measures.each do |measure| %>
	  <tr>
	    <td><%= measure.title %></td>
	  </tr>
	<% end %>
	</table>

<% end -%>
  
