
<% content_for :left_column do %>
  <%= render :partial => 'shared/left_navigation' %>
<% end -%>

<% content_for :right_column do %>
	<h1>Published measures</h1>

	<table>
	  <tr>
	    <th>Title</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @measures.each do |measure| %>
	  <tr>
	    <td><%= measure.title %></td>
	  </tr>
	<% end %>
	</table>

<% end -%>
  
