<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-script-type" content="text/javascript">
  <link rel="shortcut icon" href="/favicon.ico"/>
  <title>Bonnie: An Open Source Quality Measure Execution Tool</title>

</head>
<body>

<%= yield %>

</body>
</html>